
/*

* === CHROMA COLOR PALETTE : ) ===

*/



/*

* — Defaults —

*/


$primaryFont: #1F2124;

$primaryBackground: #fff;

.primary-font {color: $primaryFont;} 

.primary-background {background-color: $primaryBackground;}


/*

* — Palette —

*/


$black: #212121;

$cornsilk: #FFF8E1;

$orange: #F9A825;

$rosybrown: #A1887F;

$silver: #BDBDBD;

.primary-alpha{ background-color: $black;}

.primary-beta{ background-color: $cornsilk;}

.accent-alpha{ background-color: $orange;}

.accent-beta{ background-color: $rosybrown;}

.accent-gamma{ background-color: $silver;}

.primary-alpha-font { color: $black;}

.primary-beta-font { color: $cornsilk;}

.accent-alpha-font { color: $orange;}

.accent-beta-font { color: $rosybrown;}

.accent-gamma-font { color: $silver;}

